#
# This file is part of "apographe"
# by Tom Elliott for the Institute for the Study of the Ancient World
# (c) Copyright 2022 by New York University
# Licensed under the AGPL-3.0; see LICENSE.txt file.
#
# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include the data files
recursive-include data *
